<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>GeekBrains - FORM</title>
    </head>
    <body>
        <h1>Форма отправки данных</h1>
        <form action="#" th:action="@{/students}" method="POST" th:object="${student}">
            First Name: <input type="text" name="id" class="form-control" placeholder="ID">
            <br>
            Last Name: <input type="text" name="name" class="form-control" placeholder="Имя">
            <br>
            e-mail: <input type="text" name="score" placeholder="оценка" />
            <br>
            <button type="submit">Отправить</button>
        </form>
    </body>
</html>